<div style="float: left">
    <textarea [(ngModel)]="text" (ngModelChange)="separateTests()" cols="100" rows="20"></textarea>
</div>
<div *ngFor="let choice of getTestTypeValues()">
    <input type="radio"
           [(ngModel)]="testTypes"
           (ngModelChange)="separateTests()"
           [checked]="testTypes==choice"
           [value]="choice"
           name="all"/>
    {{getTestTypeName(choice)}}<br>
</div>
<div style="clear: both">
    <h4>Tests</h4>
    <test *ngFor="let test of tests" [test]="test"></test>
</div>

<button type="submit" (click)="submit()">Submit</button>